<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel = 'stylesheet' type = 'text/css' href = '{% static 'loginreg/css/style.css' %}'>
  </head>
  <body>
    <div class = 'error'>
      {% for message in messages %}
      {{ message }}<br>
      {% endfor %}
    </div>
    <div id = 'container'>
    <h1>About</h1>
    <h2>This is a project created by Melissa Hong, an aspiring
      <br>web developer with big dreams and high hopes</h2>
      <div class = 'navbar'>
        <ul>
          <li><a href = '/'>Home</a></li>
          <li id = 'current'><a href = '/about'>About</a></li>
          <li><a href = '/contact'>Contact</a></li>
          <li><a href = '/sign in'>Sign In</a></li>
        </ul>
      </div>
      <div>

      </div>
    </div>
  </body>
</html>
