<!DOCTYPE html>
<HTML lang="en">
<html>
<head>
	<link rel=stylesheet href="style.css">
</head>
<body>
	<div id="container">
		<div class="top">
			<div id="title">
				<h1>Header</h1>
				<h2>Subtitle</h2>
			</div>
			<div id="navigation">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Something</a></li>
				<li><a href="#">Something more...</a></li>
				<li><a href="#">Something even more...</a></li>
			</ul>
			</div>
		</div>
		<div class="main">
			<div class="box">
				<em>Coffee Ipsum</em><p>Qui at grinder, galao latte saucer kopi-luwak aroma froth.  Galao organic turkish java that kopi-luwak americano redeye grounds. Con panna turkish, body, viennese, mocha macciato plunger pot americano sugar. Id single shot mocha, et affogato turkish roast cream brewed.</p>
			</div>
			<div class="box">
				<em>Lorem Ipsum</em><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra vitae ipsum a convallis. Sed quis sapien sed lacus fringilla commodo.  Vivamus viverra egestas dolor, id ornare sapien laoreet vel. Donec nisi lacus, accumsan vitae iaculis ut, feugiat vel risus. Aenean molestie nec lorem quis rhoncus. Vivamus sit amet elementum nibh, a tristique dui. Proin blandit dolor nec lacus lobortis, non imperdiet risus porta. Maecenas adipiscing gravida congue. In non viverra erat. Nam porta elit quis risus tempor pharetra. Cras tempus augue ut dolor suscipit cursus.</p>
			</div>
			<div class="box">
				<em>Baby Ipsum</em><p>Ya yaya beddy-bye gaa ya ya.  Doo gaga yaya gaagaa doodoo. Da gaagaa num nums yaya laa yayadoo laa laalaaa passie ya goo ya.  Doo gaga laa laalaa laa doo. Gaagaadada ga pee-pee yaya gaga gaagaa goo doo. Laa gaa laa laalaa doodoo doo ya doodoo da. Goo dada goo gaagaa da lickle laa goo ya da gaa botty da laa. Da ga cootchie-coo gaagaa yaa doodoo gaga gaagaa goo gaagaa laa gaga brekkie gaa. Owie yaya dada yucky doo goo ga doo laalaa doodoo da laalaa ga. Uppie gaga ga laalaa ga gaa yaya gaagaa dada gaagaa. Whoopsie yaya doo ickle gaga gaga dada yaya goo laa moo-moo laalaa doo laalaa. Da ga dada doodoo goo doodoo go da botty da gaagaa. Goo googoo da goo bye-bye puffer gaa dadad.</p>
			</div>
			<div class="box" id="box4">
				<em>Zombie Ipsum</em><p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.  Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi denevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi erorum defunctis go lum cerebro. Newscio brains an Undead zombies.  Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
			</div>
		</div>
	</div>
</body>
</html>