*{
  margin: 0;
  padding: 0;
}

#container{
  margin: 10px;
  font-family: fantasy;
  width: 900px;
  display: inline-block;
}

#register{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
}

#login{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  vertical-align: top;
}

#top{
  width: 800px;
  height: 50px;
  display: inline-block;
}

#top-right{
  font-size: 11px;
  margin-left: 400px;
  display: inline-block;
}

#left{
  margin-top: 50px;
  width: 400px;
  height: 400px;
  display: inline-block;
}

#right{
  display: inline-block;
  width: 400px;
  height: 500px;
  vertical-align: top;
  margin-top: 50px;
}

input{
  margin: 1px;
}

label{
    display: inline-block;
    width: 100px;
    text-align: left;
}

h2{
  padding-bottom: 5px;
}

input[type = submit]{
  background-color:skyblue;
  border: 1px solid black;
  padding: 5px;
}

span{
  font-weight: bolder;
}
