<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="{% static 'loginreg/css/style.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <style>
          #container{
            background-color: blue;
          }
        </style>
    </head><p>
    <body>
      <div id = 'container'>
        <div id = 'top'>
          <div id = 'top-left'>
            <span>Welcome, {{request.session.name}}!</span><br>
            <h3>{{count}} poked you!</h3>
          </div>
          <div id = 'top-right'>
              <a class = 'myButton' href="{% url 'loginreg:logout' %}">Logout</a>
          </div>
        </div>
        <div id = 'middle'>
          {% for poke in pokes %}
          <br>{{poke.poker.alias}} poked you {{poke.poke_count}} times
          {% endfor %}
          <br><br>
        </div>
        <div id = 'bottom'>
          <table>
            <thead>
                  <tr>
                      <th>Name</th>
                      <th>Alias</th>
                      <th>Email Address</th>
                      <th>Poke History</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in users %}
                  {% if user.id != request.session.user_id %}
                  <tr>
                      <td>{{ user.name }}</td>
                      <td>{{ user.alias }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.poke_list }}</td>
                      <td><form action = '/pokes/poke' method = 'post'>
                         {% csrf_token %}
                      <input type = 'hidden' name = 'poker' value = '{{request.session.user_id}}'>
                      <input type = 'hidden' name = 'pokee' value = '{{user.id}}'>
                      <button type = 'submit' class="myButton" value = 'Poke!'>
                        Poke!</button></form></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
        </div>
      </div>
    </body>
</html>
