<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="{% static 'review/style.css' %}" rel="stylesheet">
    </head>
    <body>
      <p>
        <p><a href="/books">Home</a> | <a href="/logout">Logout</a></p>
        <div class="reviews">
            <h3>Reviews:</h3>
            <hr>
            {% for trip in trip.all %}
            <h1>{{trip.destination}}</h1>
            <h2>Planned By: {{trip.tripper.name}}</h2>
            <p>Travel Date From: {{trip.start_date}}</p>
            <p>Travel Date To: {{trip.end_date}}</p>
            <h1>Other users' joining the trip:</h1>
              <p>{{trip.tripper}}</p>
            {% endfor %}
        </div>

    </body>
</html>
