*{
width:970px;
margin:9px;
background-color:#F4F4F4;
}

.boxes{
border-radius:25px;
}

#topbar{
background-color:#EAEAEA;
width:835px;
height:60px;
display:inline-block;
font-size:37px;
font-family: "times new roman";
font-weight: bold;
padding:10px
}

#p{
background-color:#EAEAEA;
width:800px;
}

#leftbar{
background-color:#EAEAEA;
width:205px;
height:350px;
display:inline-block;
vertical-align:top;
}

#main{
background-color:darkgrey;
width:610px;
height:475px;
display:inline-block;
}

#bottombar{
background-color:#EAEAEA;
width:770px;
height:75px;
display:inline-block;
}