<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h3>Welcome, {{request.session.user.alias}}!</h3>
        <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout</a>
        <h4>{{count}} poked you!</h4>
        <ul class="list-group">
          {% for poke in pokes %}
          <li class="list-group-item">{{ poke.from_user.alias }} poked you {{ poke.count }} times.</li>
          {% endfor %}
        </ul>
      </div>
      <hr>
      <div class="row">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Alias</th>
              <th>Email Address</th>
              <th>Poke History</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              {% if user.id != request.session.user.id %}
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.alias}}</td>
              <td>{{user.email}}</td>
              <td>{{user.poke_history}}</td>
              <td>
                <form action="{% url 'action' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="to_user" value="{{user.id}}">
                  <input type="hidden" name="from_user" value="{{request.session.user.id}}">
                  <input class="btn btn-success" type="submit" value="Poke!">
                </form>
              </td>
            </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
