<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id = 'container'>
      <div id = 'top'>
      </div>
      <div id = 'middle'>
        <h1>Welcome to the Test</h1>
        We're going to build a cool application using a MVC framework!  This application was built with the Village88 folks!
        <form action = '/register' method = 'post'>
          <input type = 'submit' value = 'Start'>
        </form>
      </div>
      <div id = 'bottom'>
        Manage Users

        Leave messages

        Edit User Information
      </div>
    </div>
  </body>
</html>
