<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="{% static 'loginreg/css/style.css' %}" rel="stylesheet">
    </head><p>
    <body>
      <div id = 'container'>
        <div id = 'top'>
          <h2>Welcome, {{request.session.name}}!
        </div>
        <div id = 'top-right'>
          <p><a href="{% url 'loginreg:logout' %}">Logout</a></p>
        </div>
        <div id = 'middle'>
        </div>
        <div id = 'bottom'>
          <table>
            <thead>
                  <tr>
                      <th>Name</th>
                      <th>Alias</th>
                      <th>Email Address</th>
                      <th>Poke History</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in users %}
                  <tr>
                      <td>{{ user.name }}</td>
                      <td>{{ user.alias }}</td>
                      <td>{{ user.poke }}</td>
                      <td><form action = '/pokes/{{user.id}}/poke' method = 'post'>
                         {% csrf_token %}
                      <input type = 'hidden' name = 'poke'>
                      <input type = 'submit' value = 'Poke!'></form></td>
                    {% endfor %}
                  </tr>
        </div>
      </div>
    </body>
</html>
