<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dojo survey</title>
  </head>
  <body>


    <form action = '/results' method = 'post'>
      <p>Name: <input type='text' name = 'name'>
      <p>Dojo Location: <select name = 'location'>
        <option> Seattle </option>
        <option> Los Angeles </option>
      </select>
      <p>Favorite Language: <select name = 'language'>
        <option> Python </option>
        <option> Javascript </option>
      </select>
      <p>Comment (optional): <textarea name = 'comment'></textarea>
      <input type = 'submit' value = 'submit'>
    </form>
  </body>
</html>
